---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Our variables
$base-font-family: Verdana, Arial, open-sans, sans-serif;
$base-font-size:   16px;
$base-line-height: 28px;

$spacing-unit:     30px;

$text-color:       #616161;
$background-color: #aaa;//#e4e6f5;
$item-color: #fff;
$brand-color:      #3ba791;

// Width of the content area
$container-width:     750px;
$container-breakpoint: 850px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";
@import "reset";
@import "common";
@import "navigation";
@import "footer";
@import "post";
@import "index";
