---
# Only the main Sass file needs front matter (the dashes are enough)
---
// // Our variables
$header-image: "../img/grey-poly-background.png";
$header-text-color: white;

$font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:   14px;
$line-height: 1.6;

$link-color: #62a2c9;
$font-color: #32383B;
$header-background-color: #56687C;

$spacing-unit:     28px;


// Import partials from `sass_dir` (defaults to `_sass`)
/*** CSS SHARED ***/
@import "reset";
@import "common";
@import "header";
@import "footer";
@import "post";
@import "image";

/*** CSS PAGE SPECIFIC ***/
@import "about";
@import "archive";
