/***** FONTS *****/
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

/***** COMMON *****/
body {
    background-color: $background-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
}

.container {
    width: $container-width;
    margin: auto;
}
@media (max-width: $container-breakpoint) {
    .container { width: 95%;  }
}

.item {
    // box-shadow: 2px 2px 7px #737373;
    background-color: $item-color;
    padding: ($spacing-unit * .25) ($spacing-unit * 2);
    margin-bottom: ($spacing-unit);
}
@media (max-width: $container-breakpoint) {
    .item {
        padding: ($spacing-unit * .25) (10%);
    }
}

a {
    text-decoration: none;
    color: $brand-color;
}

a:hover{
    color: lighten($brand-color, 15%);
}

a:visited {
    color: darken($brand-color, 15%);
}

h1 {
    font-size: ($base-font-size * 2.5);
    line-height: ($base-line-height *  1.5);
    margin-top: ($spacing-unit * 1.25);
    // color: #000000;
    color: darken($text-color, 15%);
}

h2 {
    font-size: ($base-font-size * 1.75);
    margin-top: ($spacing-unit * 1.75);
    line-height: ($base-line-height * 1.25);
    // color: #000000;
    color: darken($text-color, 15%);
}

h3 {
    font-size: ($base-font-size * 1.5);
    line-height: ($base-line-height * 1.5);
    margin-top: ($spacing-unit);
    color: darken($text-color, 15%);
}

h4 {
    font-size: ($base-font-size);
    line-height: ($base-line-height);
    margin-top: ($spacing-unit);
    color: darken($text-color, 15%);
    font-style: italic;
}

p {
    margin-top: $spacing-unit * .75;
    margin-bottom: $spacing-unit * .75;
}

.collapsed {
    display: none;
}

.center {
    text-align: center;
}

/***** IMAGES *****/
img {
    display: block;
    margin: $spacing-unit auto;
    border: 2px solid black;
    height: auto;
    max-width: 100%;
}

/***** HIGHLIGHT *****/
.highlight {
    margin-bottom: $spacing-unit;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: auto;
    padding: 10px;
}
