/**** FOOTER ****/
footer {
    text-align: center;
    font-size: $base-font-size * .85;
    margin-top: $spacing-unit * 5;
    margin-bottom: $spacing-unit;
}

footer hr {
    width: 100%;
    margin-bottom: $spacing-unit;
}
