
.page-header {
  color: $header-text-color;
  text-align: center;
  background: #56687C url($header-image) no-repeat 50%;
  background-size: cover;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 4rem 5rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 1rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.header-link  {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: 0.3s;
}

.header-link:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    text-decoration: none;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
    }
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem;
    }
}

.page-header .nav {
	font-size: $font-size * 1.25;
    margin-top: $spacing-unit * .5;
}
