/****INDEX****/
.index-list {
    margin: auto;
}

.index-post-title {
    margin-left: 20%;
}

.index-post-data{
    color: lighten($text-color, 20%);
    margin-bottom: ($spacing-unit);
    margin-left: 20%;
}
