/***** POST *****/
.post-title {
    text-align: center;
}

.post-data{
    color: lighten($text-color, 20%);
    margin-top:$spacing-unit * 2;
    text-align:center;
}

.post-content {
    margin-top: $spacing-unit * 1.5;
}
