/***** POST *****/
.post-title {
    text-align: center;
}

.post-image {
    height: auto;
    max-width: 100%;
}

.post-data {
    color: lighten($text-color, 20%);
    // margin-top:$spacing-unit * 2;
    text-align:center;
}

.post-content {
    margin-top: $spacing-unit * 1.5;
}

.post-related {
    margin-bottom: $spacing-unit * 1.5;
}

.post-related .indent {
    margin-left: $spacing-unit;
    margin-top: 0;
}

.post-related hr {
    margin-top: $spacing-unit * 2;
    width: 40%;
}
